In [46]:
import pandas as pd
import os

In [47]:
def read_csv(path: str) -> pd.DataFrame:
    root_path = "../data/raw"
    full_path = root_path + "/" +  path
    df = pd.read_csv(full_path)
    return df

In [48]:
# Combine all files into one dataframe
path_to_files = "../data/raw"
csvs = os.listdir(path_to_files)
dfs = []
for file_name in csvs:
    df = pd.read_csv(path_to_files + "/" + file_name)
    df = df[["hhid", "sector", "ea"]]
    df.set_index("hhid", inplace=True)
    dfs.append(df)

combined_df = pd.concat(dfs, axis=0)
combined_df.reset_index(inplace=True)
combined_df.drop_duplicates(subset=["hhid", "sector", "ea"], keep="first", inplace=True)
combined_df

/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_66859/931934681.py:6: DtypeWarning: Columns (10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_66859/931934681.py:6: DtypeWarning: Columns (16,36,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_66859/931934681.py:6: DtypeWarning: Columns (28,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)

         hhid  sector    ea
0       10001       1   670
4       10002       1   670
7       10003       1   670
11      10004       1   670
14      10005       1   670
...       ...     ...   ...
91912  379119       1  1836
91914  379120       1  1836
91930  379139       1  1102
91942  379146       1  1102
91944  379148       1  1102

[4440 rows x 3 columns]

In [49]:
# same number of unique hhid values as rows in above df. We have unique observations now.
combined_df.nunique()

hhid      4440
sector       2
ea         402
dtype: int64

In [50]:
def recode_sector_numeric_to_text(entry):
    if entry == 1:
        return "URBAN"
    elif entry == 2:
        return "RURAL"
    else:
        return None

In [51]:
combined_df["sector"] = combined_df["sector"].apply(lambda x: recode_sector_numeric_to_text(x))
combined_df.set_index("hhid", inplace=True)

In [52]:
combined_df

       sector    ea
hhid
10001   URBAN   670
10002   URBAN   670
10003   URBAN   670
10004   URBAN   670
10005   URBAN   670
...       ...   ...
379119  URBAN  1836
379120  URBAN  1836
379139  URBAN  1102
379146  URBAN  1102
379148  URBAN  1102

[4440 rows x 2 columns]

In [53]:
# combined_df.to_csv("../data/processed/all_obs_properties/hhid_sector_ea.csv")

In [57]:
# Combine all files into one dataframe
path_to_files = "../data/raw"
csvs = os.listdir(path_to_files)
dfs = []
for file_name in csvs:
    df = pd.read_csv(path_to_files + "/" + file_name)
    try:
        df = df[["hhid", "interviewer_id"]]
        df.set_index("hhid", inplace=True)
        dfs.append(df)
    except KeyError:
        continue

combined_df = pd.concat(dfs, axis=0)
combined_df.reset_index(inplace=True)
#combined_df.drop_duplicates(subset=["hhid", "sector", "ea"], keep="first", inplace=True)
combined_df

/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_66859/1133377693.py:6: DtypeWarning: Columns (10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_66859/1133377693.py:6: DtypeWarning: Columns (16,36,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_66859/1133377693.py:6: DtypeWarning: Columns (28,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)

         hhid  interviewer_id
0       10001               2
1       10002              36
2       10003              36
3       10004              36
4       10005              36
...       ...             ...
27021  379143              37
27022  379144              19
27023  379151              29
27024  379154               4
27025  379155               4

[27026 rows x 2 columns]

In [66]:
 combined_df.drop_duplicates(keep="first", subset=["hhid", "interviewer_id"], inplace=True)
 #combined_df.groupby("hhid").agg(counts=("interviewer_id", "count"))

        counts
hhid
10001        2
10002        3
10003        2
10004        1
10005        1
...        ...
379146       1
379148       1
379151       5
379154       3
379155       4

[4440 rows x 1 columns]

In [67]:
combined_df.to_csv("../data/processed/many_to_many/hhid_to_interviewer_id")

In [68]:
combined_df

         hhid  interviewer_id
0       10001               2
1       10002              36
2       10003              36
3       10004              36
4       10005              36
...       ...             ...
27010  379103              29
27013  379112              29
27015  379117              33
27018  379124              15
27020  379141              29

[7521 rows x 2 columns]