In [3]:
import pandas as pd

In [37]:
dtypes = {'household_id': 'string',
              'is_new_household_member': 'str',
              'is_still_household_member': 'str',
              'why_leave_household': 'str',
              'sex': 'str',
              'age': 'Int64',
              'relationship_to_head': 'str',
              'other_relationship': 'str',
              'why_join_household': 'str',
              'other_reason_for_joining':'str',
              'is_selected_farmer': 'str',
              'is_covid_vaccinated': 'str',
              'is_available_to_respond': 'str',
              'worked_for_pay_last_week': 'str',
              'has_business_was_absent_last_week': 'str',
              'when_expected_to_return_to_work': 'str',
              'why_not_work_last_week': 'str',
              'other_reason_not_work': 'str',
              'tried_to_earn_pay_last_month': 'str',
              'how_tried_to_earn_pay_last_month': 'str',
              'other_way_tried_to_earn_pay_last_month': 'str',
              'main_activity_of_employers_business_last_week': 'str',
              'family_farm_food_fate': "str",
              "hours_worked_last_week_main_business_activity": 'Int64',
              'worked_december_2021': 'str',
              'worked_january_2022': 'str',
              'worked_february_2022': 'str',
              'worked_march_2022': 'str',
              'age_started_working': 'Int64',
              'is_employed': 'str',
              'years_worked_first_job': 'Int64',
              'why_left_first_job': 'str',
               'how_many_shots': 'Int64',
               }

In [38]:
file_1 = "p2r3_sect_2_6b_6c.csv"
file_2 = "p2r5_sect_2.csv"
file_3 = "p2r6_sect_2.csv"
file_4 = "p2r7_sect_2.csv"
path_to_files = "../data/processed/individual_id_questions"

In [39]:
files = [file_1, file_2, file_3, file_4]
paths = [path_to_files + "/" + file for file in files]

In [42]:
# df1 = pd.read_csv(paths[0], dtype = dtypes) 
df2 = pd.read_csv(paths[1], dtype = dtypes) 
# df3= pd.read_csv(paths[2], dtype = dtypes)

ValueError: Unable to parse string "BOOSTER" at position 7

In [23]:
df3

,individual_id,household_id,is_new_household_member,is_still_household_member,why_leave_household,sex,age,relationship_to_head,other_relationship,why_join_household,other_reason_for_joining
0,db95a04273b3,10001,NO,YES,<NA>,MALE,63,HEAD,<NA>,<NA>,<NA>
1,58b6880790bd,10001,NO,YES,<NA>,FEMALE,59,SPOUSE,<NA>,<NA>,<NA>
2,d2a2b4eb1d80,10001,NO,YES,<NA>,FEMALE,13,OWN CHILD,<NA>,<NA>,<NA>
3,9dadc3d1eff3,10001,NO,YES,<NA>,FEMALE,54,DOMESTIC HELP,<NA>,<NA>,<NA>
4,cd696cdeb3ac,10001,NO,YES,<NA>,MALE,10,OWN CHILD,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...
16812,7b559a072842,379155,NO,YES,<NA>,MALE,49,HEAD,<NA>,<NA>,<NA>
16813,e102508752e8,379155,NO,YES,<NA>,FEMALE,45,SPOUSE,<NA>,<NA>,<NA>
16814,b93d164cbee8,379155,NO,YES,<NA>,FEMALE,9,OWN CHILD,<NA>,<NA>,<NA>
16815,621de7851948,379155,NO,YES,<NA>,MALE,7,OWN CHILD,<NA>,<NA>,<NA>
16816,bfb8a7761218,379155,NO,YES,<NA>,FEMALE,22,NIECE OR NEPHEW,<NA>,<NA>,<NA>