In [45]:
import pandas as pd

In [46]:
def read_csv(path: str) -> pd.DataFrame:
    root_path = "../data/raw"
    full_path = root_path + "/" +  path
    df = pd.read_csv(full_path)
    return df

In [47]:
path = "p2r6_sect_a_2_5_6_8_11b_12.csv"
df = read_csv(path=path)
# Promising Variables
# hhid, zone, state, lga, sector, ea,
# s6q11c: 
# Since March 2022
# (in the past 6
# months), did you or
# any member of
# your household
# operate a non-farm
# family business?, s12q9: INTERVIEWER:
# WHO WAS THE
# MAIN
# RESPONDENT
# s12q10 what language was interview conducted?

Linking Tables in this notebook:
1. zone to state
2.

In [48]:
df

,zone,state,lga,sector,ea,hhid,interviewer_id,strata,cluster,wt_p2round6,...,s12q4__0,s12q4__1,s12q4__2,s12q4__3,s12q5,s12q9,s12q10,s12q10_os,s12q11,s12q14
0,4,1,115,1,670,10001,37,4.0,115-670,18107.132495,...,0.0,0.0,0.0,1.0,1,1.0,1.0,NaN,1.0,2022-10-15T20:20:53
1,4,1,115,1,670,10002,36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,2022-10-25T03:49:25
2,4,1,115,1,670,10004,36,4.0,115-670,27943.507063,...,1.0,0.0,0.0,0.0,1,1.0,1.0,NaN,1.0,2022-10-14T10:41:08
3,4,1,115,1,670,10005,36,4.0,115-670,37673.197238,...,1.0,0.0,0.0,0.0,1,1.0,1.0,NaN,1.0,2022-10-10T21:18:25
4,4,1,115,1,670,10008,36,4.0,115-670,20340.209108,...,1.0,0.0,0.0,0.0,1,2.0,5.0,NaN,2.0,2022-10-09T20:58:44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2794,1,37,3702,1,1102,379143,37,1.0,3702-1102,625.490986,...,0.0,0.0,0.0,1.0,1,1.0,1.0,NaN,1.0,2022-10-13T19:18:37
2795,1,37,3702,1,1102,379144,34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,2022-10-25T08:01:44
2796,1,37,3702,1,1102,379151,34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,2022-10-25T08:02:05
2797,1,37,3702,1,1102,379154,4,1.0,3702-1102,1515.872039,...,1.0,0.0,0.0,0.0,1,2.0,3.0,NaN,1.0,2022-10-12T17:51:14
2798,1,37,3702,1,1102,379155,4,1.0,3702-1102,1759.817880,...,1.0,0.0,0.0,0.0,1,1.0,1.0,NaN,1.0,2022-10-17T12:57:18

In [49]:
#There is only one instance of overlapping data 
grouped = df.groupby(by="lga").agg(unique_lga=("state", "nunique"))
grouped[grouped["unique_lga"] > 1]

     unique_lga
lga
209           2

In [50]:
df[df["lga"] == 209]
# line 173 contains a user entry error. lga 209 is in state 2, not state 34. Since this is toy data, for the sake of simplicity we will drop this observation before creating our linking table.

,zone,state,lga,sector,ea,hhid,interviewer_id,strata,cluster,wt_p2round6,...,s12q4__0,s12q4__1,s12q4__2,s12q4__3,s12q5,s12q9,s12q10,s12q10_os,s12q11,s12q14
169,2,2,209,2,1040,20001,13,2.0,209-1040,2920.099382,...,1.0,0.0,0.0,0.0,1,4.0,3.0,NaN,1.0,2022-10-12T06:51:03
170,2,2,209,2,1040,20002,4,2.0,209-1040,3585.942557,...,1.0,0.0,0.0,0.0,1,4.0,3.0,NaN,1.0,2022-10-13T10:37:23
171,2,2,209,2,1040,20005,13,2.0,209-1040,4640.562839,...,1.0,0.0,0.0,0.0,1,5.0,3.0,NaN,3.0,2022-10-13T10:09:25
172,2,2,209,2,1040,20006,13,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,2022-10-17T13:19:14
173,2,34,209,2,0,20009,34,2.0,209-1040,9501.850966,...,1.0,0.0,0.0,0.0,1,12.0,3.0,NaN,1.0,2022-10-12T10:33:49
174,2,2,209,2,1040,20010,21,2.0,209-1040,5558.828252,...,1.0,0.0,0.0,0.0,1,3.0,3.0,NaN,1.0,2022-10-16T06:50:13
216,2,2,209,2,10,29052,21,2.0,209-10,827.594764,...,1.0,0.0,0.0,0.0,1,1.0,3.0,NaN,1.0,2022-10-14T07:00:00
217,2,2,209,2,10,29055,21,2.0,209-10,2395.987173,...,1.0,0.0,0.0,0.0,1,1.0,3.0,NaN,1.0,2022-10-07T15:45:59
218,2,2,209,2,10,29056,21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,2022-10-25T06:47:52

In [51]:
# Drop the problematic observation
df.drop(173, inplace=True)
df[df["lga"] == 209]

,zone,state,lga,sector,ea,hhid,interviewer_id,strata,cluster,wt_p2round6,...,s12q4__0,s12q4__1,s12q4__2,s12q4__3,s12q5,s12q9,s12q10,s12q10_os,s12q11,s12q14
169,2,2,209,2,1040,20001,13,2.0,209-1040,2920.099382,...,1.0,0.0,0.0,0.0,1,4.0,3.0,NaN,1.0,2022-10-12T06:51:03
170,2,2,209,2,1040,20002,4,2.0,209-1040,3585.942557,...,1.0,0.0,0.0,0.0,1,4.0,3.0,NaN,1.0,2022-10-13T10:37:23
171,2,2,209,2,1040,20005,13,2.0,209-1040,4640.562839,...,1.0,0.0,0.0,0.0,1,5.0,3.0,NaN,3.0,2022-10-13T10:09:25
172,2,2,209,2,1040,20006,13,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,2022-10-17T13:19:14
174,2,2,209,2,1040,20010,21,2.0,209-1040,5558.828252,...,1.0,0.0,0.0,0.0,1,3.0,3.0,NaN,1.0,2022-10-16T06:50:13
216,2,2,209,2,10,29052,21,2.0,209-10,827.594764,...,1.0,0.0,0.0,0.0,1,1.0,3.0,NaN,1.0,2022-10-14T07:00:00
217,2,2,209,2,10,29055,21,2.0,209-10,2395.987173,...,1.0,0.0,0.0,0.0,1,1.0,3.0,NaN,1.0,2022-10-07T15:45:59
218,2,2,209,2,10,29056,21,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,2022-10-25T06:47:52

In [ ]:
# Now, Every state is associated with a single unique LGA (local government area). Let's create the linking table to establish a one-to-many relationship.
grouped_ = df.groupby(by="state").agg(unique_zone=("zone", "nunique"))
#grouped
grouped[grouped["zpme"] > 1]

In [34]:
# Lets check to make sure that every zone is associated with a single unique LGA (local government area). If so, we can create a table linking LGA to states
grouped = df.groupby(by="state").agg(unique_zone=("zone", "nunique"))
#grouped
grouped[grouped["zpme"] > 1]

Empty DataFrame
Columns: [unique_zone]
Index: []

In [32]:
# We can create a linking table of LGAs to states with a one-to-many relationship if we drop the one duplicate LGA, with a primary key of LGA and a foriegn key of "state". There 
lga_state_link = df[["lga", "state"]].drop_duplicates()
print(len(df))
print(len(lga_state_link))
lga_state_link.set_index(["lga"], inplace=True)
lga_state_link.to_csv("../data/processed/linking_tables/lga_to_state.csv")

2799
387

In [14]:
read_csv(path=path)
path = "p2r2_sect_a_2_2a_2b_6_12.csv"
read_csv(path=path)
# Promising Variables:
# hhid, zone, state, lga, sector, ea, wt_p2round2
# GHS_state, s12q14

,zone,state,lga,sector,ea,hhid,interviewer_id,wt_p2round2,s2q0a,s2q0b,...,s12q4__0,s12q4__1,s12q4__2,s12q4__3,s12q5,s12q9,s12q10,s12q10_os,s12q11,s12q14
0,4,1,115,1,670,10001,2,15706.442194,2.0,2.0,...,0.0,0.0,0.0,1.0,1,1.0,1.0,NaN,1.0,2022-01-31T18:26:28
1,4,1,115,1,670,10002,36,26687.530711,2.0,2.0,...,0.0,0.0,0.0,1.0,1,2.0,5.0,NaN,1.0,2022-01-31T19:36:49
2,4,1,115,1,670,10003,36,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,2022-02-13T17:00:53
3,4,1,115,1,670,10004,36,19555.214893,2.0,2.0,...,1.0,0.0,0.0,0.0,1,1.0,5.0,NaN,1.0,2022-02-03T11:42:00
4,4,1,115,1,670,10005,36,16130.232290,2.0,2.0,...,0.0,0.0,0.0,1.0,1,1.0,1.0,NaN,1.0,2022-02-05T20:43:26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,1,37,3702,1,1102,379143,25,589.419498,1.0,1.0,...,0.0,1.0,0.0,0.0,1,1.0,1.0,NaN,2.0,2022-02-09T18:58:48
2918,1,37,3702,1,1102,379144,19,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,2022-02-13T15:15:50
2919,1,37,3702,1,1102,379151,28,1866.162356,2.0,2.0,...,1.0,0.0,0.0,0.0,1,1.0,1.0,NaN,1.0,2022-01-29T13:05:09
2920,1,37,3702,1,1102,379154,22,1221.542867,2.0,1.0,...,1.0,0.0,0.0,0.0,1,2.0,1.0,NaN,1.0,2022-02-06T15:42:06
2921,1,37,3702,1,1102,379155,28,1634.884578,1.0,2.0,...,1.0,0.0,0.0,0.0,1,1.0,1.0,NaN,1.0,2022-02-01T17:34:02

In [15]:
read_csv(path=path)
path = "p2r1_sect_2.csv"
read_csv(path=path)
# Promising Variables:
# hhid, zone, state, lga, sector, ea, wt_p2round2
# GHS_state, s12q14

,zone,state,lga,sector,ea,hhid,indiv,s2q3,s2q4,s2q4_os,...,s2q8,s2q8_os,s2q9,s2q9_os,s2q10,s2q11,s2q12,s2q12_os,s2q13,s2q13_os
0,4,1,115,1,670,10001,1,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
1,4,1,115,1,670,10001,2,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
2,4,1,115,1,670,10001,3,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,24.0,NaN
3,4,1,115,1,670,10001,4,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
4,4,1,115,1,670,10001,8,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,15.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20137,1,37,3702,1,1102,379155,1,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
20138,1,37,3702,1,1102,379155,2,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
20139,1,37,3702,1,1102,379155,3,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,21.0,NaN
20140,1,37,3702,1,1102,379155,4,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,13.0,NaN
20141,1,37,3702,1,1102,379155,101,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN