In [1]:
import pandas as pd
import os
import random
import math
import uuid
from typing import Optional
from collections.abc import Callable
from cleaning_functions.clean_csv import *
from cleaning_functions.recode_households import *
import numpy as np

In [2]:
variables_to_renames = {
    "hhid" : "household_id",
    "lga" : "lga_id",
    "s2q0a": "someone_left",
    "s2q0b": "someone_joined",
    "s2aq0a": "household_stil_in_state",
    "s2bq0a": "someone_moved_away",
    "s5fq3": "health_services_last_month",
    "s5gq0": "bought_petrol_ever",
    "s5gq1": "when_bought_petrol",
    "s5gq3": "liters_petrol_last_bought",
    "s5gq4": "cost_of_petrol_last_bought",
    "s5gq5": "changed_price_of_petrol_last_month",
    "s11cq1": "food_consumption_last_month",
    "s11cq2": "housing_last_month",
    "s11cq3": "clothing_last_month",
    "s11cq4": "healthcare_standard_last_month",
    "s11cq5": "how_getting_by_financially",  
}

In [3]:
variables_to_recodes = {
    "someone_left": recode_binary,
    "someone_joined": recode_binary,
    "household_stil_in_state": recode_binary,
    "someone_moved_away": recode_binary,
    "health_services_last_month": recode_binary,
    "bought_petrol_ever": recode_binary,
    "when_bought_petrol": recode_when_bought_petrol,
#    "liters_petrol_last_bought": recode_liters_petrol_last_bought,
#    "cost_of_petrol_last_bought": recode_cost_of_petrol_last_bought,
    "changed_price_of_petrol_last_month": recode_changed_price_of_petrol_last_month,
    "food_consumption_last_month": recode_adequate_last_month,
    "housing_last_month": recode_adequate_last_month,
    "clothing_last_month": recode_adequate_last_month,
    "healthcare_standard_last_month": recode_adequate_healthcare_last_month,
    "how_getting_by_financially": recode_how_getting_by_financially,  
}

In [4]:
individuaL_dfs=[]
# Combine all files with households and any of the desired variables in one table
path_to_files = "../data/raw"
csvs = os.listdir(path_to_files)
dfs = []
for file_name in csvs:
    df = pd.read_csv(path_to_files + "/" + file_name)
    columns_of_interest = [item for item in df.columns if item in variables_to_renames.keys()]
    try:
        df = df[columns_of_interest]
        df.set_index("hhid", inplace=True)
        dfs.append(df)
    except KeyError:
        continue

combined_df = pd.concat(dfs, axis=0)
combined_df.reset_index(inplace=True)
combined_df.rename(columns = variables_to_renames, inplace=True)
combined_df

/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_82554/2509650888.py:7: DtypeWarning: Columns (10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_82554/2509650888.py:7: DtypeWarning: Columns (16,36,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_82554/2509650888.py:7: DtypeWarning: Columns (28,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)

,household_id,lga_id,someone_left,someone_joined,health_services_last_month,household_stil_in_state,someone_moved_away,bought_petrol_ever,when_bought_petrol,liters_petrol_last_bought,cost_of_petrol_last_bought,changed_price_of_petrol_last_month,food_consumption_last_month,housing_last_month,clothing_last_month,healthcare_standard_last_month,how_getting_by_financially
0,10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10002,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546394,379143,3702,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546395,379144,3702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546396,379151,3702,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546397,379154,3702,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546398,379155,3702,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
for column in combined_df.columns:
    if column in variables_to_recodes.keys():
        combined_df[column] = combined_df[column].apply(lambda x: variables_to_recodes[column](x))
combined_df

someone_left
someone_joined
health_services_last_month
household_stil_in_state
someone_moved_away
bought_petrol_ever
when_bought_petrol
changed_price_of_petrol_last_month
food_consumption_last_month
housing_last_month
clothing_last_month
healthcare_standard_last_month
how_getting_by_financially

,household_id,lga_id,someone_left,someone_joined,health_services_last_month,household_stil_in_state,someone_moved_away,bought_petrol_ever,when_bought_petrol,liters_petrol_last_bought,cost_of_petrol_last_bought,changed_price_of_petrol_last_month,food_consumption_last_month,housing_last_month,clothing_last_month,healthcare_standard_last_month,how_getting_by_financially
0,10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10002,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
546394,379143,3702,NO,NO,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546395,379144,3702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546396,379151,3702,NO,NO,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546397,379154,3702,NO,NO,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
546398,379155,3702,NO,NO,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
combined_df.set_index("household_id", inplace=True)

In [16]:
combined_df.to_csv("../data/processed/households_table/households.csv")