In [1]:
import pandas as pd
import os
import random
import math
import uuid
from typing import Optional
from collections.abc import Callable
from cleaning_functions.clean_csv import *
from cleaning_functions.recode_households import *
import numpy as np

In [2]:
variables_to_renames = {
    "hhid" : "household_id",
    "lga" : "lga_id",
    "s2q0a": "someone_left",
    "s2q0b": "someone_joined",
    "s2aq0a": "household_stil_in_state",
    "s2bq0a": "someone_moved_away",
    "s5fq3": "health_services_last_month",
    "s5gq0": "bought_petrol_ever",
    "s5gq1": "when_bought_petrol",
    "s5gq3": "liters_petrol_last_bought",
    "s5gq4": "cost_of_petrol_last_bought_naira",
    "s5gq5": "changed_price_of_petrol_last_month",
    "s11cq1": "food_consumption_last_month",
    "s11cq2": "housing_last_month",
    "s11cq3": "clothing_last_month",
    "s11cq4": "healthcare_standard_last_month",
    "s11cq5": "how_getting_by_financially",  
}

In [3]:
variables_to_recodes = {
    "someone_left": recode_binary,
    "someone_joined": recode_binary,
    "household_stil_in_state": recode_binary,
    "someone_moved_away": recode_binary,
    "health_services_last_month": recode_binary,
    "bought_petrol_ever": recode_binary,
    "when_bought_petrol": recode_when_bought_petrol,
#    "liters_petrol_last_bought": recode_liters_petrol_last_bought,
#    "cost_of_petrol_last_bought": recode_cost_of_petrol_last_bought,
    "changed_price_of_petrol_last_month": recode_changed_price_of_petrol_last_month,
    "food_consumption_last_month": recode_adequate_last_month,
    "housing_last_month": recode_adequate_last_month,
    "clothing_last_month": recode_adequate_last_month,
    "healthcare_standard_last_month": recode_adequate_healthcare_last_month,
    "how_getting_by_financially": recode_how_getting_by_financially,  
}

In [4]:
# individuaL_dfs=[]
# # Combine all files with households and any of the desired variables in one table
# path_to_files = "../data/raw"
# csvs = os.listdir(path_to_files)
# dfs = []
# for file_name in csvs:
#     df = pd.read_csv(path_to_files + "/" + file_name)
#     columns_of_interest = [item for item in df.columns if item in variables_to_renames.keys()]
#     try:
#         df = df[columns_of_interest]
#         df.set_index("hhid", inplace=True)
#         dfs.append(df)
#     except KeyError:
#         continue
# 
# combined_df = pd.concat(dfs, axis=0)
# combined_df.reset_index(inplace=True)
# combined_df.rename(columns = variables_to_renames, inplace=True)
# combined_df

In [5]:
individuaL_dfs=[]
# Combine all files with households and any of the desired variables in one table
path_to_files = "../data/raw"
csvs = os.listdir(path_to_files)
dfs = []
for file_name in csvs:
    df = pd.read_csv(path_to_files + "/" + file_name)
    columns_of_interest = [item for item in df.columns if item in variables_to_renames.keys()]
    try:
        df = df[columns_of_interest]
        dfs.append(df)
    except KeyError:
        continue

combined_df = pd.concat(dfs, axis=0)
combined_df

/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_79611/4059651509.py:7: DtypeWarning: Columns (10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_79611/4059651509.py:7: DtypeWarning: Columns (16,36,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_79611/4059651509.py:7: DtypeWarning: Columns (28,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)

,lga,hhid,s2q0a,s2q0b,s5fq3,s2aq0a,s2bq0a,s5gq0,s5gq1,s5gq3,s5gq4,s5gq5,s11cq1,s11cq2,s11cq3,s11cq4,s11cq5
0,115,10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,115,10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,115,10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,115,10001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,115,10002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2819,3702,379143,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2820,3702,379144,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2821,3702,379151,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2822,3702,379154,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2823,3702,379155,2.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#get a unique id column from dfs with all household ids
for i in range(len(dfs)):
    working_df = dfs[i][["hhid"]]
    if i == 0:
        built_df = working_df
    else:
        built_df = pd.concat([built_df, working_df], axis=0)
built_df.drop_duplicates(subset="hhid", inplace=True)
built_df

         hhid
0       10001
4       10002
7       10003
11      10004
14      10005
...       ...
13579  379119
13581  379120
13597  379139
13609  379146
13611  379148

[4440 rows x 1 columns]

In [7]:
#merge (join) each dataframe
counter = 0
for df in dfs:
#    on_list = [item for item in df.columns if item in built_df.columns]
    keep_list = [item for item in df.columns if item in variables_to_renames.keys()]
    local_df = df[keep_list]
    counter += 1
    print(f"start {counter}")
    built_df = pd.merge(built_df, local_df, how="left")
    built_df.drop_duplicates(subset="hhid", keep="first", inplace=True)
    print(f"end {counter}")
built_df

start 1
end 1
start 2
end 2
start 3
end 3
start 4
end 4
start 5
end 5
start 6
end 6
start 7
end 7
start 8
end 8
start 9
end 9
start 10
end 10
start 11
end 11
start 12
end 12
start 13
end 13
start 14
end 14
start 15
end 15
start 16
end 16
start 17
end 17
start 18
end 18
start 19
end 19
start 20
end 20
start 21
end 21
start 22
end 22
start 23
end 23
start 24
end 24
start 25
end 25
start 26
end 26
start 27
end 27
start 28
end 28
start 29
end 29
start 30
end 30
start 31
end 31
start 32
end 32
start 33
end 33
start 34
end 34
start 35
end 35
start 36
end 36
start 37
end 37
start 38
end 38
start 39
end 39
start 40
end 40
start 41
end 41
start 42
end 42
start 43
end 43
start 44
end 44
start 45
end 45
start 46
end 46
start 47
end 47
start 48
end 48
start 49
end 49
start 50
end 50
start 51
end 51

,hhid,lga,s2q0a,s2q0b,s5fq3,s2aq0a,s2bq0a,s5gq0,s5gq1,s5gq3,s5gq4,s5gq5,s11cq1,s11cq2,s11cq3,s11cq4,s11cq5
0,10001,115.0,2.0,2.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,2.0,3.0
1,10002,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10003,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004,115.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10005,115.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4435,379119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4436,379120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4437,379139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4438,379146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4439,379148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
built_df.rename(columns = variables_to_renames, inplace=True)
built_df

,household_id,lga_id,someone_left,someone_joined,health_services_last_month,household_stil_in_state,someone_moved_away,bought_petrol_ever,when_bought_petrol,liters_petrol_last_bought,cost_of_petrol_last_bought_naira,changed_price_of_petrol_last_month,food_consumption_last_month,housing_last_month,clothing_last_month,healthcare_standard_last_month,how_getting_by_financially
0,10001,115.0,2.0,2.0,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,1.0,2.0,2.0,2.0,3.0
1,10002,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10003,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004,115.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10005,115.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4435,379119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4436,379120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4437,379139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4438,379146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4439,379148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
for column in built_df.columns:
    if column in variables_to_recodes.keys():
        built_df[column] = built_df[column].apply(lambda x: variables_to_recodes[column](x))
built_df

,household_id,lga_id,someone_left,someone_joined,health_services_last_month,household_stil_in_state,someone_moved_away,bought_petrol_ever,when_bought_petrol,liters_petrol_last_bought,cost_of_petrol_last_bought_naira,changed_price_of_petrol_last_month,food_consumption_last_month,housing_last_month,clothing_last_month,healthcare_standard_last_month,how_getting_by_financially
0,10001,115.0,NO,NO,YES,YES,NO,NaN,NaN,NaN,NaN,NaN,NOT ENOUGH,ADEQUATE,ADEQUATE,ADEQUATE,FAIR
1,10002,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10003,115.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10004,115.0,YES,NO,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10005,115.0,NO,NO,YES,YES,NO,YES,PAST 7 DAYS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4435,379119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4436,379120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4437,379139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4438,379146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4439,379148,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# for column in combined_df.columns:
#     if column in variables_to_recodes.keys():
#         combined_df[column] = combined_df[column].apply(lambda x: variables_to_recodes[column](x))
# combined_df

In [12]:
built_df["lga_id"] = built_df["lga_id"].astype("Int64")
built_df["liters_petrol_last_bought"] = built_df["lga_id"].astype("Int64")
built_df["cost_of_petrol_last_bought_naira"] = built_df["cost_of_petrol_last_bought_naira"].astype("Int64")
built_df

,household_id,lga_id,someone_left,someone_joined,health_services_last_month,household_stil_in_state,someone_moved_away,bought_petrol_ever,when_bought_petrol,liters_petrol_last_bought,cost_of_petrol_last_bought_naira,changed_price_of_petrol_last_month,food_consumption_last_month,housing_last_month,clothing_last_month,healthcare_standard_last_month,how_getting_by_financially
0,10001,115,NO,NO,YES,YES,NO,NaN,NaN,115,<NA>,NaN,NOT ENOUGH,ADEQUATE,ADEQUATE,ADEQUATE,FAIR
1,10002,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
2,10003,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,115,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
3,10004,115,YES,NO,YES,NaN,NaN,NaN,NaN,115,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
4,10005,115,NO,NO,YES,YES,NO,YES,PAST 7 DAYS,115,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4435,379119,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
4436,379120,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
4437,379139,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
4438,379146,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
4439,379148,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
////

In [16]:
# #get a unique id column from dfs with all hhids
# for i in range(len(dfs)):
#     working_df = dfs[i][["hhid"]]
#     if i == 0:
#         built_df = working_df
#     else:
#         built_df = pd.concat([built_df, working_df], axis=0)
# built_df.drop_duplicates(subset="individual_id", inplace=True)
# built_df

In [13]:
combined_df["liters_petrol_last_bought"] = combined_df["liters_petrol_last_bought"].astype("Int64")
combined_df["cost_of_petrol_last_bought_naira"] = combined_df["cost_of_petrol_last_bought_naira"].astype("Int64")

In [17]:
combined_df

,lga_id,someone_left,someone_joined,health_services_last_month,household_stil_in_state,someone_moved_away,bought_petrol_ever,when_bought_petrol,liters_petrol_last_bought,cost_of_petrol_last_bought_naira,changed_price_of_petrol_last_month,food_consumption_last_month,housing_last_month,clothing_last_month,healthcare_standard_last_month,how_getting_by_financially
household_id,,,,,,,,,,,,,,,,
10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10002,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379143,3702,NO,NO,NO,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
379144,3702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
379151,3702,NO,NO,YES,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
379154,3702,NO,NO,NO,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
379155,3702,NO,NO,NO,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
combined_df.drop_duplicates(subset = "household_id", keep="first", inplace=True)
combined_df

,household_id,lga_id,someone_left,someone_joined,health_services_last_month,household_stil_in_state,someone_moved_away,bought_petrol_ever,when_bought_petrol,liters_petrol_last_bought,cost_of_petrol_last_bought_naira,changed_price_of_petrol_last_month,food_consumption_last_month,housing_last_month,clothing_last_month,healthcare_standard_last_month,how_getting_by_financially
0,10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
1,10009,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
2,10031,111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
3,10051,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
4,10063,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10043,269059,2615,YES,NO,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10127,290009,2930,NO,YES,NaN,NaN,NaN,YES,PAST 7 DAYS,2,800,INCREASED,NaN,NaN,NaN,NaN,NaN
10435,139071,1307,YES,NO,YES,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10490,209022,2009,NO,NO,NO,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10540,300019,3007,NO,NO,YES,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
combined_df.set_index("household_id", inplace=True)

In [26]:
combined_df

,lga_id,someone_left,someone_joined,health_services_last_month,household_stil_in_state,someone_moved_away,bought_petrol_ever,when_bought_petrol,liters_petrol_last_bought,cost_of_petrol_last_bought_naira,changed_price_of_petrol_last_month,food_consumption_last_month,housing_last_month,clothing_last_month,healthcare_standard_last_month,how_getting_by_financially
household_id,,,,,,,,,,,,,,,,
10001,115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10009,105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10031,111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10051,102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
10063,107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269059,2615,YES,NO,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
290009,2930,NO,YES,NaN,NaN,NaN,YES,PAST 7 DAYS,2,800,INCREASED,NaN,NaN,NaN,NaN,NaN
139071,1307,YES,NO,YES,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
209022,2009,NO,NO,NO,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
300019,3007,NO,NO,YES,NaN,NaN,NaN,NaN,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
combined_df.to_csv("../data/processed/households_table/households.csv")

In [18]:
built_df.set_index("household_id", inplace=True)

In [20]:
built_df.to_csv("../data/processed/households_table/households_improved.csv")