In [1]:
import pandas as pd

In [47]:
# combine state ID, state, lga id
path_1 = "../data/processed/linking_tables/state_to_state_id.csv"
path_2 = "../data/processed/linking_tables/state_to_lga.csv"
dtypes_1 = {"state_id": "int64", "state": "string"}
dtypes_2 = {"state": "int64", "lga": "int64"}
df_1 = pd.read_csv(path_1, dtype=dtypes_1)
df_2 = pd.read_csv(path_2, dtype=dtypes_2)
df_2.rename(columns={"state": "state_id", "lga": "lga_id"}, inplace=True)
df_1.set_index("state_id", inplace=True)
df_2.set_index("state_id", inplace=True)

In [57]:
df_2

          lga_id
state_id
1            115
1            105
1            111
1            102
1            107
...          ...
10          1010
29          2901
33          3305
34          3416
35          3510

[400 rows x 1 columns]

In [54]:
df_3 = df_1.join(df_2, on="state_id", how="outer")
df_3

          state  lga_id
state_id
1          Abia     115
1          Abia     105
1          Abia     111
1          Abia     102
1          Abia     107
...         ...     ...
37          FCT    3702
37          FCT    3701
37          FCT    3703
37          FCT    3704
37          FCT    3705

[400 rows x 2 columns]

In [50]:
# combine zone id, zone, state id
df_2.dtypes

lga_id    int64
dtype: object

In [33]:
# combine lga, lga id, and something about each lga.
df_1

                 state
state_id
1                 Abia
2              Adamawa
3            Akwa Ibom
4              Anambra
5               Bauchi
6              Bayelsa
7                Benue
8                Borno
9          Cross River
10               Delta
11              Ebonyi
12                 Edo
13               Ekiti
14               Enugu
15               Gombe
16                 Imo
17              Jigawa
18              Kaduna
19                Kano
20             Katsina
21               Kebbi
22                Kogi
23               Kwara
24               Lagos
25            Nasarawa
26               Niger
27                Ogun
28                Ondo
29                Osun
30                 Oyo
31             Plateau
32              Rivers
33              Sokoto
34              Taraba
35                Yobe
36             Zamfara
37                 FCT