In [112]:
import pandas as pd
import os

In [113]:
def read_csv(path: str) -> pd.DataFrame:
    root_path = "../data/raw"
    full_path = root_path + "/" +  path
    df = pd.read_csv(full_path)
    return df

<h1>Create Linking Tables for All Regional Data</h1>
Obtain dfs in which every unique zone, state, and lga are represented.
<ol>
    <li>There are 6 unique geopolitical zones</li>
    <li>There are 36 unique states, plus Federal Capital Territory, so potentially 37</li>
    <li>there are 774 unique LGAs</li>
</ol>

In [114]:
# Open a file, and identify whether or not every zone, state, and lga is represented
# In this one, we can see that all zones and states are represented, but not all lgas. We will use it to create the linking table of zone to state.
path = "p2r6_sect_a_2_5_6_8_11b_12.csv"
df = read_csv(path=path)
df = df[["zone", "state", "lga", "sector"]]
df.nunique()

zone        6
state      37
lga       386
sector      2
dtype: int64

In [115]:
# ZONE TO STATE
# Check to make sure there is no overlapping data; that the relationship of zone to state is one-to-many
# Beecause our grouped dataframe below is empty, we can be sure this is the case and can continue to the next step
grouped = df.groupby(by="state").agg(unique_zone=("zone", "nunique"))
grouped[grouped["unique_zone"] > 1]

Empty DataFrame
Columns: [unique_zone]
Index: []

In [116]:
# Create the linking table of zone to state
zone_state_link = df[["zone", "state"]].drop_duplicates(keep="first")
print(len(df))
print(len(zone_state_link))
print(sorted(zone_state_link["zone"].unique()))
print(sorted(zone_state_link["state"].unique()))
zone_state_link.rename(columns={"state": "state_id", "zone":"zone_id"}, inplace=True)
zone_state_link.set_index(["state_id"], inplace=True)
zone_state_link.to_csv("../data/processed/linking_tables/zone_to_state.csv")
zone_state_link

2799
37
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]

          zone_id
state_id
1               4
2               2
34              2
3               5
12              5
4               4
24              6
5               2
31              1
6               5
25              1
7               1
8               2
9               5
10              5
11              4
13              6
14              4
15              2
16              4
17              3
18              3
20              3
19              3
21              3
22              1
23              1
27              6
26              1
28              6
29              6
30              6
37              1
32              5
33              3
35              2
36              3

In [117]:
# STATE TO LGA
# Combine geographical data from every file to get the full dataset of lgas. Later, we will check for duplicates and incorrect data. Check the unique values in the dataset. We can see that we only have 400 lgas represented in this dataset.
path_to_files = "../data/raw"
csvs = os.listdir(path_to_files)
dfs = []
for file_name in csvs:
    df = pd.read_csv(path_to_files + "/" + file_name)
    df = df[["state", "lga"]]
    dfs.append(df)

region_df = pd.concat(dfs)
region_df.nunique()

/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_51275/742062374.py:7: DtypeWarning: Columns (10,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_51275/742062374.py:7: DtypeWarning: Columns (16,36,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)
/var/folders/lw/jy_c2z0x221fsb78kk1_h2800000gn/T/ipykernel_51275/742062374.py:7: DtypeWarning: Columns (28,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path_to_files + "/" + file_name)

state     37
lga      400
dtype: int64

In [118]:
# Check to make sure that states to lgas have a 1-to-many relationship. The dataframe below is not empty, indicating two user entry errors.
grouped = region_df.groupby(by="lga").agg(unique_state=("state", "nunique"))
grouped[grouped["unique_state"] > 1]

      unique_state
lga
209              2
3215             2

In [119]:
# Find any data which erroneously associates lga 209 to the wrong state
region_df[region_df["lga"] == 209]
# Many interviewers made the same mistake, it seems. LGA 209 is known as Lamurde, and this is located in Adamawa state, which the correct encoding for is 2, not 34.

     state  lga
544      2  209
545      2  209
546      2  209
547      2  209
548      2  209
..     ...  ...
176     34  209
177      2  209
219      2  209
220      2  209
221      2  209

[2049 rows x 2 columns]

In [120]:
# Fix the incorrect lga 209 data based on the findings above
region_df.loc[region_df['lga'] == 209, 'state'] = 2
region_df[region_df["lga"] == 209]

     state  lga
544      2  209
545      2  209
546      2  209
547      2  209
548      2  209
..     ...  ...
176      2  209
177      2  209
219      2  209
220      2  209
221      2  209

[2049 rows x 2 columns]

In [121]:
# Find any data which erroneously associates lga 3215 to the wrong state
# LGA 3215 is OBIO AKPOR. This is located in the Rivers State, which is encoded as 32. There are many entry errors which place it in state 6 instead. 
region_df[region_df["lga"] == 3215]

      state   lga
8858     32  3215
8859     32  3215
8860     32  3215
8861     32  3215
8882     32  3215
...     ...   ...
2562     32  3215
2563     32  3215
2564     32  3215
2568     32  3215
2570     32  3215

[1065 rows x 2 columns]

In [122]:
# Fix the incorrect lga 3215 data based on the findings above
region_df.loc[region_df['lga'] == 3215, 'state'] = 32
region_df[region_df["lga"] == 3215]

      state   lga
8858     32  3215
8859     32  3215
8860     32  3215
8861     32  3215
8882     32  3215
...     ...   ...
2562     32  3215
2563     32  3215
2564     32  3215
2568     32  3215
2570     32  3215

[1065 rows x 2 columns]

In [123]:
# Create the linking table of state to LGA

state_lga_link = region_df[["lga", "state"]].drop_duplicates(keep="first")
print(len(df))
print(len(state_lga_link))
print(sorted(state_lga_link["state"].unique()))
print(sorted(state_lga_link["lga"].unique()))
state_lga_link.rename(columns={"state": "state_id", "lga":"lga_id"}, inplace=True)
state_lga_link.set_index(["lga_id"], inplace=True)
#state_lga_link.to_csv("../data/processed/linking_tables/state_to_lga.csv")
state_lga_link

2824
400
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37]
[102, 104, 105, 107, 108, 109, 110, 111, 112, 113, 115, 117, 201, 203, 204, 205, 207, 208, 209, 210, 211, 212, 213, 215, 218, 219, 220, 221, 301, 302, 304, 305, 307, 308, 309, 312, 313, 316, 317, 318, 320, 322, 323, 326, 327, 329, 331, 402, 405, 406, 407, 408, 409, 412, 416, 417, 419, 420, 421, 502, 503, 504, 505, 506, 507, 508, 509, 511, 513, 514, 516, 517, 518, 520, 601, 602, 604, 605, 606, 607, 608, 701, 702, 704, 705, 708, 709, 711, 713, 715, 716, 717, 718, 719, 721, 723, 805, 821, 827, 901, 905, 908, 909, 910, 913, 915, 917, 918, 1002, 1006, 1007, 1008, 1010, 1011, 1012, 1013, 1014, 1015, 1018, 1019, 1022, 1023, 1025, 1101, 1102, 1104, 1105, 1106, 1109, 1112, 1113, 1201, 1202, 1203, 1207, 1208, 1209, 1211, 1212, 1214, 1215, 1216, 1218, 1301, 1303, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1315, 1316, 1401, 1402, 1403, 1404, 1405, 1406, 1408, 1410, 1411, 1413, 1416, 1417, 1501, 1502, 1503, 1506, 1508, 1509, 1510, 1511, 1601, 1602, 1605, 1607, 1608, 1610, 1611, 1613, 1615, 1616, 1620, 1622, 1625, 1626, 1627, 1701, 1707, 1712, 1715, 1716, 1717, 1718, 1721, 1722, 1723, 1725, 1802, 1803, 1804, 1805, 1807, 1809, 1810, 1812, 1813, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1909, 1910, 1912, 1914, 1918, 1919, 1921, 1923, 1924, 1925, 1927, 1928, 1929, 1933, 1940, 1941, 2003, 2009, 2010, 2012, 2015, 2016, 2018, 2021, 2025, 2026, 2028, 2032, 2034, 2101, 2105, 2106, 2111, 2112, 2115, 2119, 2201, 2203, 2208, 2211, 2213, 2216, 2220, 2302, 2303, 2304, 2305, 2306, 2307, 2308, 2309, 2310, 2311, 2313, 2314, 2316, 2401, 2402, 2403, 2404, 2405, 2406, 2408, 2410, 2413, 2415, 2416, 2417, 2418, 2419, 2420, 2503, 2504, 2508, 2602, 2603, 2604, 2606, 2608, 2609, 2611, 2613, 2615, 2616, 2620, 2624, 2701, 2703, 2705, 2706, 2707, 2711, 2712, 2714, 2715, 2716, 2720, 2801, 2804, 2805, 2806, 2808, 2811, 2813, 2814, 2815, 2816, 2901, 2905, 2909, 2910, 2915, 2916, 2918, 2919, 2920, 2928, 2929, 2930, 3002, 3005, 3006, 3007, 3011, 3012, 3013, 3014, 3015, 3016, 3020, 3021, 3023, 3026, 3028, 3102, 3105, 3109, 3110, 3111, 3112, 3113, 3116, 3117, 3203, 3205, 3206, 3212, 3213, 3215, 3223, 3302, 3304, 3305, 3313, 3318, 3321, 3323, 3401, 3402, 3405, 3406, 3407, 3408, 3409, 3411, 3412, 3416, 3505, 3506, 3507, 3510, 3512, 3513, 3514, 3606, 3608, 3611, 3613, 3701, 3702, 3703, 3704, 3705, 3706]

        state_id
lga_id
115            1
105            1
111            1
102            1
107            1
...          ...
1010          10
2901          29
3305          33
3416          34
3510          35

[400 rows x 1 columns]