In [34]:
import pandas as pd
import numpy as np
import math

In [35]:
def read_csv(path: str) -> pd.DataFrame:
    root_path = "../data/raw"
    full_path = root_path + "/" +  path
    df = pd.read_csv(full_path)
    return df

In [36]:
dtype = {"s1q5": "Int64"}
path = "p2r1_sect_1.csv"
df = read_csv(path)
df

,zone,state,lga,sector,ea,hhid,call_id,s1q1,s1q2,s1q3,s1q5,s1q6,s1q8,s1q9,s1q10,s1q11a,s1q11b
0,4,1,115,1,670,10001,1,1,2021-12-07T17:36:17,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN
1,4,1,115,1,670,10002,1,1,2021-12-05T17:15:42,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,1,115,1,670,10002,2,1,2021-12-05T17:17:54,1.0,2.0,4.0,NaN,NaN,NaN,2021-12-06,50:30
3,4,1,115,1,670,10002,3,2,2021-12-05T17:26:17,1.0,1.0,NaN,1.0,2.0,NaN,NaN,NaN
4,4,1,115,1,670,10003,1,1,2021-12-14T18:36:48,1.0,1.0,NaN,2.0,NaN,1.0,2021-12-15,13:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21990,1,37,3702,1,1102,379148,2,2,2021-12-09T15:46:52,1.0,1.0,NaN,3.0,NaN,NaN,NaN,NaN
21991,1,37,3702,1,1102,379151,1,1,2021-12-08T14:29:52,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN
21992,1,37,3702,1,1102,379154,1,1,2021-12-14T15:52:41,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21993,1,37,3702,1,1102,379154,2,2,2021-12-14T15:53:37,1.0,1.0,NaN,1.0,2.0,NaN,NaN,NaN
21994,1,37,3702,1,1102,379155,1,1,2021-12-08T15:34:38,1.0,1.0,NaN,1.0,1.0,NaN,NaN,NaN

In [37]:
rename_dict = {"s1q2": "scheduled_interview_date", "s1q3": "phone_answer_status", "s1q5": "is_household_member", "call_id": "call_attempt_number", "hhid": "household_id", "s1q1": "phone_number_id", "s1q8": "agree_to_be_interviewed"}
df.rename(columns=rename_dict, inplace=True)

In [38]:
def recode_agree_to_be_interviewed(entry):
    if math.isnan(entry):
        return entry
    else:
        value = int(entry)
        if value == 1:
            return "YES"
        elif value == 2:
            return "NO"

In [39]:
df["agree_to_be_interviewed"]= df["agree_to_be_interviewed"].apply(lambda x: recode_agree_to_be_interviewed(x))

In [40]:
#Good for a "like" activity
def recode_phone_answer_status(entry):
    if math.isnan(entry):
        return entry
    else:
        value = int(entry)
        if value == 1:
            return "YES, ANSWERED"
        elif value == 2:
            return "NO, NOT ANSWERED"
        elif value == 3:
            return "NO, NUMBER DOES NOT EXIST"
        elif value == 4:
            return "NO, PHONE SWITCHED OFF"

In [41]:
df["phone_answer_status"] = df["phone_answer_status"].apply(lambda x: recode_phone_answer_status(x) )

In [42]:
def recode_speaker_is_household_member(entry):
    # If the entry has missing data, skip it
    if math.isnan(entry):
        return entry
    #If not, recode the variable this way
    else:
        value = int(entry)
        if value == 1:
            return "YES"
        elif value == 2:
            return "NO"
        elif value == 3:
            return "UNKNOWN, LANGUAGE BARRIER"

In [43]:
df["is_household_member"] = df["is_household_member"].apply(lambda x: recode_speaker_is_household_member(x))
df

,zone,state,lga,sector,ea,household_id,call_attempt_number,phone_number_id,scheduled_interview_date,phone_answer_status,is_household_member,s1q6,agree_to_be_interviewed,s1q9,s1q10,s1q11a,s1q11b
0,4,1,115,1,670,10001,1,1,2021-12-07T17:36:17,"YES, ANSWERED",YES,NaN,YES,1.0,NaN,NaN,NaN
1,4,1,115,1,670,10002,1,1,2021-12-05T17:15:42,"NO, NOT ANSWERED",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,1,115,1,670,10002,2,1,2021-12-05T17:17:54,"YES, ANSWERED",NO,4.0,NaN,NaN,NaN,2021-12-06,50:30
3,4,1,115,1,670,10002,3,2,2021-12-05T17:26:17,"YES, ANSWERED",YES,NaN,YES,2.0,NaN,NaN,NaN
4,4,1,115,1,670,10003,1,1,2021-12-14T18:36:48,"YES, ANSWERED",YES,NaN,NO,NaN,1.0,2021-12-15,13:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21990,1,37,3702,1,1102,379148,2,2,2021-12-09T15:46:52,"YES, ANSWERED",YES,NaN,None,NaN,NaN,NaN,NaN
21991,1,37,3702,1,1102,379151,1,1,2021-12-08T14:29:52,"YES, ANSWERED",YES,NaN,YES,1.0,NaN,NaN,NaN
21992,1,37,3702,1,1102,379154,1,1,2021-12-14T15:52:41,"NO, NOT ANSWERED",NaN,NaN,NaN,NaN,NaN,NaN,NaN
21993,1,37,3702,1,1102,379154,2,2,2021-12-14T15:53:37,"YES, ANSWERED",YES,NaN,YES,2.0,NaN,NaN,NaN
21994,1,37,3702,1,1102,379155,1,1,2021-12-08T15:34:38,"YES, ANSWERED",YES,NaN,YES,1.0,NaN,NaN,NaN

In [44]:
final_df = df[["household_id", "phone_number_id", "call_attempt_number","phone_answer_status", "is_household_member", "agree_to_be_interviewed", "scheduled_interview_date"]]
# final_df.to_csv("../data/processed/survey_questions/call_schedules.csv")

In [31]:
path = "p2r1_sect_2.csv"
df = read_csv(path)
df

,zone,state,lga,sector,ea,hhid,indiv,s2q3,s2q4,s2q4_os,...,s2q8,s2q8_os,s2q9,s2q9_os,s2q10,s2q11,s2q12,s2q12_os,s2q13,s2q13_os
0,4,1,115,1,670,10001,1,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
1,4,1,115,1,670,10001,2,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
2,4,1,115,1,670,10001,3,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,24.0,NaN
3,4,1,115,1,670,10001,4,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
4,4,1,115,1,670,10001,8,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,15.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20137,1,37,3702,1,1102,379155,1,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
20138,1,37,3702,1,1102,379155,2,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
20139,1,37,3702,1,1102,379155,3,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,21.0,NaN
20140,1,37,3702,1,1102,379155,4,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,13.0,NaN
20141,1,37,3702,1,1102,379155,101,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
recode_dict = {"hhid": "household_id",
               'indiv': "person_id",
               's1q3': "is_person_still_household_member",
               's2q4': 'why_did_person_leave_household',
               's2q5': "sex_of_person",
               's2q6': 'age_of_person',
               's2q7a': 'is_household_head_still_member',
               's2q7': 'relationship_of_person_to_household_head',
               's2q8': 'why_person_join_household',
               }

In [ ]:
#  p2r3_sect_a_2_5_6_6c_9a_12.dta is a good one but requires a lot of recoding
# p2r2_sect_2_2a.dta is also very good and contains individual Id AND household id! so, excellent. 
# p2r6_sect_1b.dta contains phone number id and hhid, allowing us to correlate households with phone numbers
#todo: household id to individual id from file p2r2_sect_2_2a.dta, then recode this file and use in data
#todo: recode a dataset with household-lvel variables for the "households" table
#todo: make a linking table of households to phone numbers
#todo: combine all files like p2r9_sect_1b.csv and p2r3_sect_1b.csv and  p2r6_sect_2.dta, to get people to household to phone number linking data

In [ ]:
household level variables:
p2r7_sect_5i.dta s5iq1

In [ ]:
#Household level variables
path = "p2r1_sect_2.csv"
df = read_csv(path)
df